.button-pagination {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border-color: #d9d9d9;
  border-width: 1px;
}

.button-pagination-active {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border-color: #d9d9d9;
  border-width: 1px;
  background-color: #218ffc;
  color: #ffff;
}
